html {

    height: 100vh;

}

body{
   
    background-color: rgb(255, 167, 240);
    height: 100vh;
    
    h1, h2, h3 {

        font-family: 'Bubblegum Sans';

    }

    h1 {

        place-self: center;
        font-size: 2em;
        text-align: center;

    }

    p, button {

        font-family: 'Quicksand';

    }

    button {

        cursor: pointer;

    }

}

.mainMenu.appear {

    padding: 20px 10px;
    box-sizing: border-box;

    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);

    opacity: 1;

    transition: opacity 0.25s ease;

}
.songSelection.appear {

    height: 100%;
    display: grid;
    grid-template-rows: 5% 95%;

    padding: 15px;
    box-sizing: border-box;

    .songsPool {

        display: grid;
        grid-auto-flow: column;
        padding: 15px;
        box-sizing: border-box;
        place-items: center;

        .playingVid {

            width: 100%;
            max-width: 250px;
            aspect-ratio: 4/3;

            display: grid;
            grid-template-rows: 3fr 1fr;

            cursor: pointer;

            background-color: #F3EDB3;
            padding: 10px;
            box-sizing: border-box;

            .check {

                position: absolute;
                width: 50px;
                opacity: 0;

            }

            img {

                width: 100%;
                object-fit: contain;

            }

            h3 {

                font-size: 1.5em;
                margin: 5px 0;

            }

        }
        .playingVid.done {

            cursor: not-allowed;
            opacity: 0.7;

            background-color: #46fd7d;

        }

        .playingVid.notSupport {

            cursor: not-allowed;
            opacity: 0.7;

            background-color: #585858;

        }

    }

}

.game.appear {

    height: 100%;
    display: grid;
    grid-template-rows: 0.25fr 2fr 1fr;

    place-content: center;
    align-items: center;

    

    .gameData {

        display: grid;
        place-content: center;
        grid-auto-flow: column;

        * {

            padding: 0 5vw;
            box-sizing: border-box;

        }

    }

    video {

        width: 100%;
        max-width: 50vw;
        height: auto;

        padding: 5vh 5vw;
        box-sizing: border-box;

        object-fit: contain;
    }

    .lyricsWrap {

        display: grid;
        grid-auto-flow: row;
        gap: 2.5vh;
        place-content: center;
        align-items: center;
        text-align: center;

        font-size: 1.5em;

        div:nth-child(odd) {

            opacity: 0.5;

        }

    }

}

article:not(.appear) {

    position: absolute;

    opacity: 0;

    transition: opacity 0.25s ease;

    z-index: -1;

}

.menues {

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;

    place-items: center;
    opacity: 1;

    transition: opacity 0.25s ease;

    button {

        box-sizing: border-box;
        padding: 15% 25%;

    }

}

.menues.hidden {

    opacity: 0;

    transition: opacity 0.25s ease;

}
